openadservice:
  args:
  - /bin/bash
  - -ic
  - |-
    ros2 launch carla_ros_bridge carla_ros_bridge.launch.py \
      log_level:=${LOG_LEVEL} \
      use_sim_time:=${USE_SIM_TIME} \
      host:=${HOST} \
      port:=${PORT} \
      timeout:=${TIMEOUT} \
      passive:=${PASSIVE} \
      publish_clock:=${PUBLISH_CLOCK} \
      synchronous_mode:=${SYNCHRONOUS_MODE} \
      synchronous_mode_wait_for_vehicle_control_command:=${SYNCHRONOUS_MODE_WAIT_FOR_VEHICLE_CONTROL_COMMAND} \
      fixed_delta_seconds:=${FIXED_DELTA_SECONDS} \
      start_unix_time_stamp:=${START_UNIX_TIME_STAMP} \
      ${TOWN:+town:=${TOWN}} \
      rt_factor:=${RT_FACTOR} \
      register_all_sensors:=${REGISTER_ALL_SENSORS} \
      native_interface:=${NATIVE_INTERFACE} \
      ego_vehicle_role_name:=${EGO_VEHICLE_ROLE_NAME} \
      publish_static_vehicles:=${PUBLISH_STATIC_VEHICLES} \
      publish_compressed_images:=${PUBLISH_COMPRESSED_IMAGES} \
      ignore_altitude:=${IGNORE_ALTITUDE} \
      ignore_tilt:=${IGNORE_TILT} \
      ${GEOREFERENCE_SUBSTITUTION:+georeference_substitution:=${GEOREFERENCE_SUBSTITUTION}} \
      grid_convergence:=${GRID_CONVERGENCE} \
      publish_etsi_messages:=${PUBLISH_ETSI_MESSAGES} \
      mapem_timer_period:=${MAPEM_TIMER_PERIOD} \
      spatem_timer_period:=${SPATEM_TIMER_PERIOD} \
      integrate_all_junctions:=${INTEGRATE_ALL_JUNCTIONS} \
      waypoints_search_distance:=${WAYPOINTS_SEARCH_DISTANCE} \
      lane_waypoints_count:=${LANE_WAYPOINTS_COUNT}
  env:
    IGNORE_ALTITUDE: true
    RMW_IMPLEMENTATION: rmw_zenoh_cpp
    ROS_DOMAIN_ID: {{ (default "0" (index .Values.composeEnvironment "ROS_DOMAIN_ID")) | quote }}
    RUST_LOG: zenoh=warn
    TOWN: {{ (default "/opendrive.xodr" (index .Values.composeEnvironment "MAP")) | quote }}
    ZENOH_ROUTER_CHECK_ATTEMPTS: 0
    LOG_LEVEL: {{ (default "info" (index .Values.composeEnvironment "LOG_LEVEL")) | quote }}
    USE_SIM_TIME: {{ (default "True" (index .Values.composeEnvironment "USE_SIM_TIME")) | quote }}
    HOST: {{ (default "carla-server" (index .Values.composeEnvironment "CARLA_HOST")) | quote }}
    PORT: {{ (default "2000" (index .Values.composeEnvironment "CARLA_PORT")) | quote }}
    TIMEOUT: {{ (default "5000" (env "TIMEOUT")) | quote }}
    PASSIVE: {{ (default "False" (env "PASSIVE")) | quote }}
    PUBLISH_CLOCK: {{ (default "True" (env "PUBLISH_CLOCK")) | quote }}
    SYNCHRONOUS_MODE: {{ (default "True" (env "SYNCHRONOUS_MODE")) | quote }}
    SYNCHRONOUS_MODE_WAIT_FOR_VEHICLE_CONTROL_COMMAND: {{ (default "False" (env "SYNCHRONOUS_MODE_WAIT_FOR_VEHICLE_CONTROL_COMMAND")) | quote }}
    FIXED_DELTA_SECONDS: {{ (default "0.05" (env "FIXED_DELTA_SECONDS")) | quote }}
    START_UNIX_TIME_STAMP: {{ (default "0" (env "START_UNIX_TIME_STAMP")) | quote }}
    RT_FACTOR: {{ (default "1.0" (env "RT_FACTOR")) | quote }}
    REGISTER_ALL_SENSORS: {{ (default "True" (env "REGISTER_ALL_SENSORS")) | quote }}
    NATIVE_INTERFACE: {{ (default "True" (env "NATIVE_INTERFACE")) | quote }}
    EGO_VEHICLE_ROLE_NAME: {{ (default "[\"hero\",\"ego_vehicle\",\"hero0\",\"hero1\",\"hero2\",\"hero3\"]" (env "EGO_VEHICLE_ROLE_NAME")) | quote }}
    PUBLISH_STATIC_VEHICLES: {{ (default "True" (env "PUBLISH_STATIC_VEHICLES")) | quote }}
    PUBLISH_COMPRESSED_IMAGES: {{ (default "True" (env "PUBLISH_COMPRESSED_IMAGES")) | quote }}
    IGNORE_TILT: {{ (default "True" (env "IGNORE_TILT")) | quote }}
    GEOREFERENCE_SUBSTITUTION: {{ (default "" (env "GEOREFERENCE_SUBSTITUTION")) | quote }}
    GRID_CONVERGENCE: {{ (default "None" (env "GRID_CONVERGENCE")) | quote }}
    PUBLISH_ETSI_MESSAGES: {{ (default "False" (env "PUBLISH_ETSI_MESSAGES")) | quote }}
    MAPEM_TIMER_PERIOD: {{ (default "1.0" (env "MAPEM_TIMER_PERIOD")) | quote }}
    SPATEM_TIMER_PERIOD: {{ (default "0.1" (env "SPATEM_TIMER_PERIOD")) | quote }}
    INTEGRATE_ALL_JUNCTIONS: {{ (default "False" (env "INTEGRATE_ALL_JUNCTIONS")) | quote }}
    WAYPOINTS_SEARCH_DISTANCE: {{ (default "1.0" (env "WAYPOINTS_SEARCH_DISTANCE")) | quote }}
    LANE_WAYPOINTS_COUNT: {{ (default "10" (env "LANE_WAYPOINTS_COUNT")) | quote }}
  dependsOn:
  - host: carla-server
    port: 2000
  - host: zenoh-router
    port: 7447
  x11Display: {{ env "DISPLAY_X11_DOCKER" | default (env "DISPLAY") | quote }}
  x11XauthorityFile: {{ env "XAUTHORITY_DOCKER" | quote }}
