openadservice:
  namePrefix: {{ env "DEPLOYMENT_PREFIX" | quote }}
{{- if env "NODE" }}
  nodeSelector:
    kubernetes.io/hostname: {{ env "NODE" | quote }}
{{- end }}
  args:
  - /bin/bash
  - -ic
  - |-
    ros2 launch carla_ros_bridge carla_ros_bridge.launch.py \
      log_level:=${LOG_LEVEL} \
      use_sim_time:=${USE_SIM_TIME} \
      host:=${HOST} \
      port:=${PORT} \
      timeout:=${TIMEOUT} \
      passive:=${PASSIVE} \
      publish_clock:=${PUBLISH_CLOCK} \
      synchronous_mode:=${SYNCHRONOUS_MODE} \
      synchronous_mode_wait_for_vehicle_control_command:=${SYNCHRONOUS_MODE_WAIT_FOR_VEHICLE_CONTROL_COMMAND} \
      fixed_delta_seconds:=${FIXED_DELTA_SECONDS} \
      start_unix_time_stamp:=${START_UNIX_TIME_STAMP} \
      ${TOWN:+town:=${TOWN}} \
      rt_factor:=${RT_FACTOR} \
      register_all_sensors:=${REGISTER_ALL_SENSORS} \
      native_interface:=${NATIVE_INTERFACE} \
      ego_vehicle_role_name:=${EGO_VEHICLE_ROLE_NAME} \
      publish_static_vehicles:=${PUBLISH_STATIC_VEHICLES} \
      publish_compressed_images:=${PUBLISH_COMPRESSED_IMAGES} \
      ignore_altitude:=${IGNORE_ALTITUDE} \
      ignore_tilt:=${IGNORE_TILT} \
      ${GEOREFERENCE_SUBSTITUTION:+georeference_substitution:=${GEOREFERENCE_SUBSTITUTION}} \
      grid_convergence:=${GRID_CONVERGENCE} \
      publish_etsi_messages:=${PUBLISH_ETSI_MESSAGES} \
      mapem_timer_period:=${MAPEM_TIMER_PERIOD} \
      spatem_timer_period:=${SPATEM_TIMER_PERIOD} \
      integrate_all_junctions:=${INTEGRATE_ALL_JUNCTIONS} \
      waypoints_search_distance:=${WAYPOINTS_SEARCH_DISTANCE} \
      lane_waypoints_count:=${LANE_WAYPOINTS_COUNT}
  env:
    IGNORE_ALTITUDE: true
    RMW_IMPLEMENTATION: rmw_zenoh_cpp
    ROS_DOMAIN_ID: {{ (default "0" (env "ROS_DOMAIN_ID")) | quote }}
    RUST_LOG: zenoh=warn
    TOWN: {{ (default "/opendrive.xodr" (env "MAP")) | quote }}
    ZENOH_ROUTER_CHECK_ATTEMPTS: 0
    LOG_LEVEL: {{ (default "info" (env "LOG_LEVEL")) | quote }}
    USE_SIM_TIME: {{ (default "true" (env "USE_SIM_TIME")) | quote }}
    HOST: {{ (default "carla-server" (env "CARLA_HOST")) | quote }}
    PORT: {{ (default "2000" (env "CARLA_PORT")) | quote }}
  dependsOn:
  - host: carla-server
    port: 2000
  - host: zenoh-router
    port: 7447
  x11Display: {{ env "DISPLAY_X11_DOCKER" | default (env "DISPLAY") | quote }}
  x11XauthorityFile: {{ env "XAUTHORITY_DOCKER" | quote }}
