openadservice:
  namePrefix: {{ env "DEPLOYMENT_PREFIX" | quote }}
{{- if env "NODE" }}
  nodeSelector:
    kubernetes.io/hostname: {{ env "NODE" | quote }}
{{- end }}
  name: carla-scenario-runner-ros-automated-testing
  image: ghcr.io/openads-project/carla-scenario-runner/ros:v0.10.0-1.1.1
  args:
  - /bin/bash
  - -ic
  - |-
    set -e
    python3 /scenario_checker.py validate-runtime "/${SCENARIO_FILE}"
    exec python3 -u "${SCENARIO_RUNNER_PATH}/scenario_runner.py" \
      --host "${CARLA_HOST}" \
      --openscenario /${SCENARIO_FILE} \
      --output \
      --rtFactor 1.0 \
      --waitForEgo
  env:
    CUSTOM_LANELET: {{ (default "" (env "CUSTOM_LANELET")) | quote }}
    CUSTOM_OPENDRIVE: {{ (default "" (env "CUSTOM_OPENDRIVE")) | quote }}
    MAP: {{ (default "" (env "MAP")) | quote }}
    RMW_IMPLEMENTATION: rmw_zenoh_cpp
    ROS_DOMAIN_ID: {{ (default "0" (env "ROS_DOMAIN_ID")) | quote }}
    RUST_LOG: zenoh=warn
    SCENARIO_FILE: {{ (env "SCENARIO_FILE") | quote }}
    ZENOH_ROUTER_CHECK_ATTEMPTS: 0
    USE_SIM_TIME: {{ (default "true" (env "USE_SIM_TIME")) | quote }}
    CARLA_HOST: {{ (default "carla-server" (env "CARLA_HOST")) | quote }}
    CARLA_PORT: {{ (default "2000" (env "CARLA_PORT")) | quote }}
  volumes:
  - mountPath: /scenario_checker.py
    data: |
{{ readFile "scenario_checker.py" | indent 6 }}
  - mountPath: /scenarios
    hostPath: /work/geller/openads-project/openadsim-k8s/scenarios
  dependsOn:
  - host: carla-server
    port: 2000
  - host: zenoh-router
    port: 7447
  x11Display: {{ env "DISPLAY_X11_DOCKER" | default (env "DISPLAY") | quote }}
  x11XauthorityFile: {{ env "XAUTHORITY_DOCKER" | quote }}
