openadservice:
  args:
  - {{ "/bin/bash" | quote }}
  - {{ "-ic" | quote }}
  - |-
{{ (printf "%s%s%s%s%s%s" "ros2 run robot_state_publisher robot_state_publisher \\\n  /urdf/" (default "karl" (default "karl" (env "VEHICLE"))) "/" (default "karl" (default "karl" (env "VEHICLE"))) ".urdf \\\n  --ros-args -p use_sim_time:=" (default "true" (index .Values.composeEnvironment "USE_SIM_TIME"))) | indent 4 }}
  env:
    RMW_IMPLEMENTATION: rmw_zenoh_cpp
    ROS_DOMAIN_ID: {{ (default "0" (index .Values.composeEnvironment "ROS_DOMAIN_ID")) | quote }}
    RUST_LOG: zenoh=warn
    ZENOH_ROUTER_CHECK_ATTEMPTS: 0
  volumes:
  - mountPath: /urdf
    image: ghcr.io/openads-project/openads-assets:v1.0.0
    imagePath: urdf
